<%- include('partials/header') %>

<%if (entries.length) { %>

    <div class="col-md-4 offset-md-4"> 
        <h2 class="text-center">Solicitudes <p> <%= estado  %> </p></h2>

        <% entries.forEach(function(entry){ %>
            <div class="card my-2">
                <div class="card-header bg-danger text-white">
                    <p> <%= entry.published %></p>
                </div>
                <div class="card-body">
                    <p> <b>ID:</b> <%=entry.requestID %></p>
                    <p> <b>Username:</b> <%=entry.username %></p>
                    <p> <b>Descripción:</b> <%= entry.description %></p>
                    <p> <b>Severidad:</b> <%= entry.severity %></p>
                    <p> <b>Latitud:</b> <%= entry.latitude %></p>
                    <p> <b>Longitud:</b> <%= entry.longitude %></p>
                </div>
            </div>
        <%})%>
    </div>



<% } else {%>
    <p>Nadie ha pedido ayuda! <a href="/brigade-menu"> Regresar al menú</a></p>
<% } %>

<%- include('partials/footer') %>