<%- include('partials/header') %>

<%if (entries.length) { %>

    <div class="col-md-4 offset-md-4"> 
        <h2 class="text-center">Solicitudes</h2>

        <% entries.forEach(function(entry){ %>
            <div class="card my-2">
                <div class="card-header bg-primary text-white">
                    <p> <%= entry.published %></p>
                </div>
                <div class="card-body">
                    <p> <b>ID:</b> <%=entry.requestid %></p>
                    <p> <b>Username:</b> <%=entry.username %></p>
                    <p> <b>Descripción:</b> <%= entry.description %></p>
                    <p> <b>Severidad:</b> <%= entry.severity %></p>
                    <p> <b>Localización:</b> <%= entry.location %></p>
                </div>
            </div>
        <%})%>
    </div>



<% } else {%>
    <p>Nadie ha pedido ayuda! <a href="/new-entry"> Ver pasadas</a></p>
<% } %>

<%- include('partials/footer') %>