<%- include('partials/header') %>

<div style="text-align:center;width: 500px;margin: 0 auto">
    <h2 class="text-center"> <p> <%= username %></p> Tu solicitud ha sido recibida!</h2><br>

    </form>
</div>

<form action = "/log-in" method="post">
    <input type="hidden" id="username" name="username" value="<%= username %>" />
    <input type="hidden" id="password" name="password" value="<%= password %>" />

<div style="text-align:center;width: 500px;margin: 0 auto">
    <input type="submit" value="Realizar otra" class="btn btn-danger"
</div>

</form>

<%- include('partials/footer') %>